body {
background-color: #333;
color: white;
}

a {
    color: #ffc107;
}

.jumbotron {
  display: flex;
  align-items: center;
  margin: 0;
  height: 100vh;
  color: white;
  background-color: #333;
}

.space-above {
    margin-top: 20px;
    padding-top: 20px;
}

.nav-bar-class{
    background-color: #333;
}

.nav-bar-class .navbar-nav .nav-link {
    color: white !important;
}

.nav-bar-class .navbar-brand{
 color: white !important;
}

.about-img{
width:100%;
height: auto;
}
.about-text{
font-size: 16px;
text-align: center;
}

.contact-img{
width:100%;
object-fit:cover;
}